
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.rectangle1{
  height: 602px;
  background: linear-gradient(to bottom, #000000, #5585E3);
  /* box-shadow: 10px 0 18px rgba(0, 0, 0, 0.3); */
      clip-path: polygon(0 0, 100% 0%, 100% 64%, 0% 100%);
      
      overflow: visible;
      position: relative;
      
      
    }
    body{
      background-color:#5585E3 ;
    }
    .head1{
      font-size: 50px;
    }
    .star1{
      position: absolute;
      top: 100px;
      left: 0px;
      z-index: -1;
    }.star2{
      position: absolute;
      top: -190px;
      left: 300px;
      z-index: -1;
    }.star3{
      position: absolute;
      top: 200px;
      left: 30px;
      z-index: -1;
    }.star4{
      position: absolute;
      top: 140px;
      left: 200px;
      z-index: -1;
    }.star5{
      position: absolute;
      top: 190px;
      left: 370px;
      z-index: -1;
    }.star6{
      position: absolute;
      top: 280px;
      left: 530px;
      z-index: -1;
    }
    .star7{
      position: absolute;
      top: 280px;
      left: 300px;
      z-index: -1;
    }.star8{
      position: relative;
      top: 550px;
      left: 190px;
      z-index: -1;
    }.star9{
      position: relative;
      top: -80px;
      left: 30px;
    }.star10{
      position: relative;
      top: -80px;
      left: 30px;
    }
    .rectangle2{
  position: relative;
  top: -290px;
    }.rectangl{
      border-radius: 100%;

    }
    .background1{
      background-image: url(images/227140206_926341961557706_2034145323457323292_n.jpg); 
      background-repeat: no-repeat; 
      background-size: cover;
      height: 500px;
      transition: width 2s;
    }
    .background1:hover{
      width: 250px;
    }
    .background2{
      background-image: url(images/mysterious.jpg); 
      background-repeat: no-repeat; 
      background-size: cover;
      height: 500px; 
      transition: width 2s;
    }
    .background2:hover{
      width: 250px;
    }
    .background3{
      background-image: url(images/302xtk.png); 
      background-repeat: no-repeat; 
      background-size: cover;
      height: 500px;
      transition: width 2s ;
    }
    .background4{
      background-image: url(images/Large-family-homeschooling-4-removebg-preview.png); 
      background-repeat: no-repeat; 
      background-size: cover;
      width: 490px;
      height: 300px;
      position: relative;
      top: -50px;
    }
    .background7{
      background-image: url(images/Presentation1-removebg-preview.png); 
      background-repeat: no-repeat; 
      background-size: cover;
      background-position: -90px;
    }

    img{
      position: relative;
      z-index: 300px;
    }
    .background8{
      background-image: url(images/videoblocks-futuristic-blue-digital-brain-seamless-loop-neurons-firing-in-mri-scan-of-artificial-intelligence-neural-network-medical-research-of-brain-activity-deep-learning-ai-and-modern-technology-3d-rend.png); 
      background-repeat: no-repeat; 
      background-size: cover;
    }
    .background9{
      background-image: url(images/1question\ mark.png); 
      background-repeat: no-repeat; 
      background-size: cover;
    }
    .background10{
      background-color: #000000;
    }
.container1{
  background-color: #5585E3;
  position: absolute;
  width: 800px;
  height: 700px;
bottom: -800px;
  transform: rotate(-70deg);
  z-index: -1;
}
.container2{
  background-color: #5585E3;
  position: absolute;
  width: 500px;
  height: 700px;
bottom: -1500px;
left: 350px !important;
  transform: rotate(-70deg);
  z-index: -1;
}
.container3{
  background-color: #5585E3;
  position: absolute;
  width: 800px;
  height: 700px;
bottom: -1200px;
left: 900px;
  transform: rotate(-70deg);
  z-index: -1;
}
.container0{
 overflow: hidden !important;
}
.spinner-wrapper{
  background: linear-gradient(to bottom, #0cb4e3, #1b1a1a);  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 height: 100%;
 z-index: 9999;
 display:flex;
 justify-content: center;
 align-items:center;
   animation: grow 2s infinite ease-in-out;

}
.spinner-border{
  background-image: url(images/logo.png); 
      background-repeat: no-repeat; 
      background-size: cover;
  height: 60px;
  width: 60px;
  border: none;
  /* color: rgb(255, 255, 255); */
}
.navbar {
  width: 100%;
  background-color: none;
  color: white;
  padding: 10px 0;
  position: fixed; /* Fixed at the top */
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.5s;
  transform: translateY(0); /* Start in visible state */
}

.navbar.hidden {
  transform: translateY(-100%); /* Hide by translating up */
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Base */

.h9 {
  color: hsl(0, 0%, 68%);
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(34) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 948px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}